# Virtual Environments
venv/
env/
src/venv/

# Secret Keys - NEVER commit
.env

# Large Data Files
data/cleaned_zomato.parquet

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
